@font-face {
  font-family: 'nijhum';
  src:  url('../fonts/nijhumc6f4.eot');
  src:  url('../fonts/nijhumc6f4.eot') format('embedded-opentype'),
    url('../fonts/nijhumc6f4.ttf') format('truetype'),
    url('../fonts/nijhumc6f4.woff') format('woff'),
    url('../fonts/nijhumc6f4.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="picons-"], [class*=" picons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nijhum' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.picons-arrow-down:before {
  content: "\e900";
}
.picons-arrow-left:before {
  content: "\e901";
}
.picons-arrow-long-down:before {
  content: "\e902";
}
.picons-arrow-long-left:before {
  content: "\e903";
}
.picons-arrow-long-right:before {
  content: "\e904";
}
.picons-arrow-long-up:before {
  content: "\e905";
}
.picons-arrow-right:before {
  content: "\e906";
}
.picons-arrow-up:before {
  content: "\e907";
}
.picons-behance:before {
  content: "\e908";
}
.picons-briefcase:before {
  content: "\e909";
}
.picons-bubble:before {
  content: "\e90a";
}
.picons-calendar-full:before {
  content: "\e90b";
}
.picons-camera:before {
  content: "\e90c";
}
.picons-camera-video:before {
  content: "\e90d";
}
.picons-cart:before {
  content: "\e90e";
}
.picons-chevron-down:before {
  content: "\e90f";
}
.picons-chevron-left:before {
  content: "\e910";
}
.picons-chevron-right:before {
  content: "\e911";
}
.picons-chevron-up:before {
  content: "\e912";
}
.picons-clock:before {
  content: "\e913";
}
.picons-cog:before {
  content: "\e914";
}
.picons-cross:before {
  content: "\e915";
}
.picons-dribbble:before {
  content: "\e916";
}
.picons-eye:before {
  content: "\e917";
}
.picons-facebook:before {
  content: "\e918";
}
.picons-files-approved:before {
  content: "\e919";
}
.picons-frame-contract:before {
  content: "\e91a";
}
.picons-frame-expand:before {
  content: "\e91b";
}
.picons-heart:before {
  content: "\e91c";
}
.picons-home:before {
  content: "\e91d";
}
.picons-link:before {
  content: "\e91e";
}
.picons-linked-in:before {
  content: "\e91f";
}
.picons-location:before {
  content: "\e920";
}
.picons-magnifier:before {
  content: "\e921";
}
.picons-menu:before {
  content: "\e922";
}
.picons-moon:before {
  content: "\e923";
}
.picons-phone:before {
  content: "\e924";
}
.picons-phone-handset:before {
  content: "\e925";
}
.picons-picture:before {
  content: "\e926";
}
.picons-power-switch:before {
  content: "\e927";
}
.picons-redo:before {
  content: "\e928";
}
.picons-repeat:before {
  content: "\e929";
}
.picons-screen:before {
  content: "\e92a";
}
.picons-search:before {
  content: "\e92b";
}
.picons-select:before {
  content: "\e92c";
}
.picons-sun:before {
  content: "\e92d";
}
.picons-sync:before {
  content: "\e92e";
}
.picons-thumbs-down:before {
  content: "\e92f";
}
.picons-thumbs-up:before {
  content: "\e930";
}
.picons-trash:before {
  content: "\e931";
}
.picons-undo:before {
  content: "\e932";
}
.picons-user:before {
  content: "\e933";
}
.picons-warning:before {
  content: "\e934";
}
